a {
	color: #212121 !important;
}
header {
	width: 100%;
	min-height: 10vh;
	position: relative;
}
header>.container {
	position: relative;
	height: 100%;
	padding: 0;
}
.navbar-brand {
	position: absolute;
	width: 100%;
	max-width: 100px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}
.hamburger-menu {
	position: fixed;
	top: 25px;
	right: 15px;
	width: 37px;
	height: 37px;
	display: flex;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	z-index: 999;
}
.hamburger-menu i {
	font-size: 25px;
	color: #212121;
	margin: auto;
}
.hamburger-menu .fa-times {
	display: none;
}
.hamburger-menu .fa-times.open {
	display: block;
}
.hamburger-menu .fa-bars.open {
	display: none;
}
.nav-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	list-style: none;
	color: #191919;
	background: white;
	z-index: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity 650ms;
}
.nav-list .nav-item {
	display: inline-block;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 24px;
	padding-top: 30px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.06em;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
.nav-list.open {
	opacity: 1;
	transform: scale(1);
}
.about {
	height: 20vh;
	background: url("../images/about.jpg") center no-repeat;
	background-size: cover;
}
h2 {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 64px;
	font-weight: 700;
}
footer {
	background-color: rgb(25, 25, 25);
	padding: 40px 0 20px 0;
}
footer p {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.41176;
	font-style: italic;
	color: #434345;
	margin-top: 4px;
}
.social li a {
	color: white !important;
	margin-right: 15px;
}
.social {
	margin-top: 30px;
}
dd {
	color: #787878;
	font-weight: 400;
}
dd a {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	font-size: 17px;
	color: #787878 !important;
	font-weight: 400;
}
dd a:hover {
	color: #787878;
}
.fab:hover {
	color: #82c650;
}
h6 {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: white;
}
footer .form-group input {
	background: rgb(25, 25, 25);
	border: 1px solid grey;
	margin-top: 20px;
	width: 300px;
}
footer .form-group textarea {
	background: rgb(25, 25, 25);
	border: 1px solid grey;
	margin-top: 20px;
	width: 300px;
}
footer .btn {
	background-color: #82c650;
	border-color: #82c650;
	padding: 15px 100px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	border-radius: 3px;
	border-width: 1px;
	margin-left: 20px;
}
footer .btn:hover {
	color: #fff;
	background-color: #69ab38;
	border-color: #69ab38;
}
.policy p {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	color: #434345 !important;
	font-weight: 400;
	font-style: normal;
}
.policy a {
	color: #434345 !important;
}
.touch h1 {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: #434345;
	margin-bottom: 21px;
	font-size: 36px;
	line-height: 1.5;
}
.special2 {
	background: linear-gradient(-90deg, #82c650 0%, #44b872 100%);
	width: 60px;
	height: 2px;
}
.touch p, address {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.41176;
	color: #787878;
}
.phone a {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	font-size: 17px !important;
	font-weight: 400;
	line-height: 1.41176;
	color: #787878 !important;
}
.touch label {
	font-family: "Crimson Text", "Times New Roman", Times, serif;
	margin-bottom: 10px;
	font-weight: 400;
	color: #212121;
}
.touch .btn1 {
	color: #fff !important;
	max-width: 345px;
	margin: 20px auto;
	background-color: #82c650;
	border-color: #82c650;
	white-space: normal;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	border-width: 2px;
	transition: .3s;
	backface-visibility: hidden;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	padding: 13px 14px;
	font-size: 17px;
	line-height: 1.2;
	border-radius: 3px;
}
.touch .btn1:hover {
	color: #fff;
	background-color: #69ab38;
	border-color: #69ab38;
}
h3 {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.22727;
	font-size: 22px;
	color: #434345 !important;
}
.icons .fab {
	margin-right: 25px;
	color: #787878 !important;
}
.icons .fab:hover {
	color: #69ab38 !important;
}
.fas2 {
	color: #82c650 !important;
}
.touch .btn2 {
	margin-top: 45px;
	font-size: 17px;
	padding: 14px 16px;
	line-height: 28px;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	border-width: 2px;
	transition: .3s;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: #191919 !important;
	background-color: #ffea00;
	border-color: #ffea00;
}
.touch .btn2:hover {
	background-color: #e0a800;
	border-color: #d39e00;
}
@media (min-width: 576px) {
	.navbar-brand {
		max-width: 150px;
	}
	.hamburger-menu {
		top: 35px;
		right: 25px;
	}
	footer .form-group input {
		margin: 15px auto;
	}
	footer .form-group textarea {
		margin: 10px auto;
	}
	footer .btn {
		transform: translateX(35%);
	}
	h6 {
		text-align: center;
	}
	footer .form-group textarea, footer .form-group input {
		width: 400px;
	}
}
@media (min-width: 768px) {
	footer .btn {
		transform: translateX(75%);
	}
	footer .form-group textarea, footer .form-group input {
		width: 400px;
	}
}
@media (min-width: 992px) {
	header>.container {
		padding: 0 15px;
	}
	.hamburger-menu {
		display: none;
	}
	.navbar-brand {
		position: initial;
		transform: initial;
	}
	.nav-list {
		position: initial;
		width: initial;
		height: initial;
		background-color: initial;
		flex-direction: row;
		opacity: initial;
		transform: initial;
		transition: initial;
		margin: 0;
		padding: 0;
	}
	.nav-item {
		margin: 0 15px;
		display: inline-block;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-size: 14px !important;
		padding-top: 30px;
		font-weight: 700;
		line-height: 24px;
		letter-spacing: 0.06em;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
	.nav-item:last-child {
		margin-right: 5px;
	}
	.last .nav-link:hover::before {
		transform: scaleX(0) !important;
	}
	.nav-link {
		position: relative;
		padding: 0;
	}
	.nav-link::before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		background: #82c650;
		width: 100%;
		height: 2px;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 650ms;
	}
	.nav-link:hover::before {
		transform: scaleX(1);
	}
	footer .btn {
		transform: translateX(0);
	}
	footer .form-group textarea, footer .form-group input {
		width: 400px;
	}
	@media (min-width: 1200px) {
		footer .btn {
			margin: 4px auto;
			transform: translateX(40px);
			padding: 7px 35px;
		}
	}